/* h1 {
    text-align: center;
    text-decoration: wavy red underline;
    letter-spacing: 5px;
    font-size: 50px;
} */
h3 {
    text-align: right;
    text-decoration: pink underline;
    /* text aligne for center left right */
}
p{
    text-align: justify;
    font-weight: 400;
    line-height: 1.5;
    /* line height is used to increase or decrease the space between lines */
} 
h2 {
    font-weight: 800;
    text-decoration: double overline;
    font-family: Arial, Helvetica, sans-serif;
    /* font family is used to change the font style */
}
a {
    text-decoration: none;
    /* text-decoration is used to remove underline from links */
}
h1{
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    text-decoration: teal double underline;
    font-size: 55px ;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
}